# Environments
.env
.venv
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub-cache/
.pub/
/build/
/mobile_app/build/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
